
*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
 
RTE/
Templates/
Examples/
 
!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf
!*.bin
!*.hex

————————————————
版权声明：本文为CSDN博主「txf-ly」的原创文章，遵循CC 4.0 BY-SA版权协议，转载请附上原文出处链接及本声明。
原文链接：https://blog.csdn.net/tianxifeng/article/details/102803927